.navbar {
  display: flex;
  gap: 1em;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
  background-color: blueviolet;
}

.lista {
  display: flex;
  flex-direction: row;
  gap: 1em;
  list-style: none;
}

li {
  color: azure;
}
