.navbar {
  display: flex;
  gap: 1em;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
  background-color: #f3e5f5;
}

.lista {
  display: flex;
  flex-direction: row;
  gap: 1em;
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
  margin-inline: 5px;
}
